.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #000;
    z-index: 4;
}

.navbar ul {
    margin: 0;
    padding-left: 50px;
    height: 30px;
}

.github-icon {
    height: 45px;
    width: 45px;
    background-image: url("../images/github.svg");
    background-size: cover;
}

.navbar ul li {
    font-weight: bold;
    list-style: none;
    float: left;
    color: #fff;
    display: flex;
    align-items: center;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.content-container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 90px);
    flex-grow: 1;
}

.tab-container {
    display: flex;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.content {
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.content > h1 {
    margin-top: 80px;
    font-size: 65px;
    font-weight: bold;
    color: #fff;
}

.loading {
    display: none;
    margin-top: 30px;
    background-image: url("../images/loading.svg");
    animation: loading_rotate 1000ms ease-in-out infinite;
    width: 80px;
    height: 80px;
    background-size: cover;
}

@keyframes loading_rotate {
    100% {
        transform: rotate(360deg);
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
}

.main-footer {
    display: flex;
    justify-content: center;
    color: #fff;
    height: 30px;
    font-size: 15px;
}

@media (max-width: 900px) {
    .navbar ul li {
        width: 90px;
    }
}