@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
}
body, p, h1, h2 {
    margin: 0;
    font-family: "Lato", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body{
    background-image: url("../images/main_header.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
:root {
    --vh: 100%;
}
.main-container {
    width: 100vw;
    height: 100vh;
}

@media (max-width: 900px) {
    .main-container { /* 모바일 환경에서 뷰포트 크기를 100vw로 설정하면 스크롤이 발생하는 문제 해결*/
        width: 100vw;
        height: calc(var(--vh, 1vh) * 100);
    }
}